.jumbotron {
  padding: 6rem 1rem;
  background-image: url(bgn.jpg); /* A <url>, as long as bgn.jpg is an actual image */
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
